numpy
pandas
matplotlib
requests
httpx
python-dateutil

lightgbm
optuna
scikit-learn
numba

TA-Lib
pandas_ta
tindicators
pymoo

websocket-client
binance_data

eth-abi
eth-account
eth-utils
py-clob-client
